<div id="topbar">
    <div id="btn-menu" class="menu sb-open-left">
        <div>
            <i class="fa fa-bars"></i>
            <span class="hide-mobile"> Menu</span>
        </div>
    </div>
    <div id="btn-top">
        {% if inGame|default(false) %}
            <weapon-btn></weapon-btn>
            <btn-score></btn-score>
        {% endif %}
    </div>
    <div class="title">
        <h1>
            <a href="{{ url('homepage') }}">Battleship</a>
        </h1>
    </div>
</div>
