#status {
  text-align: center;
  font-style: italic;
}

#rocket {
  position: absolute;
  background-color: #F00;
  width:5px;
  height:5px;
}


/*****************
 * MEDIA QUERIES *
 *****************/
@media only screen and (max-width: 500px) {
  h1.title { display: none; }
}